<html>
    <head>
        <Title>
            Vue
        </Title>
        <script src="./vue.js"></script>
    </head>
    <body>
        <div id="app">
            {{ Message }}
        </div>
        <script>
            new Vue({
                el: '#app' ,
                data: {
                    Message: 'Hellow vue.js!'
                }
            });
        </script>
    </body>
</html>